.form-row {
    margin: 12px 0;
    overflow: hidden;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

input, textarea {
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    border: none;
}

textarea {
    float: left;
}

.clear {
    clear: both;
}

input:focus, textarea:focus {
  outline: none;
}

form button {
    margin-top: 0;
}
